
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;1,200&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Hakkımda</title>


    <style>
        img.yuvarlak {
            border-radius: 50%;
            height: 380px;
            width: 380px;
            object-fit: cover;
        }

        .center {
            text-align: center;
        }

        .icerik {
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div class="center">
        <img class="yuvarlak" src="~/AdminPanelTemplate/20230326_172441-removebg-preview.png" alt="Alternate Text" />
    </div>

    <br />


    <div style="text-align:center">
        <p style="font-family: 'Sacramento', cursive; font-size:70px; text-decoration:none; margin-right:20px; margin-top:2px; color: black; font-weight:bold;">Barış Beytur</p>
    </div>
    <hr />
    <div style="text-align:center">
        <p style="font-family: 'Prompt', sans-serif; font-family: 'Rubik', sans-serif; font-size: 20px; text-decoration: none; margin-right: 20px; margin-top: 2px; color: black; ">Software Developer</p>
    </div>
    
    <hr />
    <br />
    <div class="card">
        <h5 class="card-header center">Hakkımda</h5>

        <div class="card-body">
            <p class="card-text icerik">

                Ben Barış Beytur. Bülent Ecevit Üniversitesi Bilgisayar Mühendisliği 4.
                Sınıf öğrencisiyim. Aktif olarak .NET ile Full-Stack Web Geliştirme Teknolojileri üzerine kendimi geliştiriyor
                ve çalışıyorum.
                Hedeflediğim Bilgisayar Mühendisliği bölümüne 2020 yılında başladım. Her zaman disiplinli
                ve sorumluluk sahibi biri olmaya çalıştım. Bu prensip doğrultusunda okulumda her zaman iyi
                bir akademik kariyer yapmanın yanında kendimi sürekli geliştirmeyi hedefledim. Okulun GDSC, GDG gibi yazılım ile ilgili kulüplerine
                katıldım. Bunun yanı sıra işin teknik kısımlarını da okulda yeterince öğrenemeyeceğimi düşünerek kendimi
                yazılım alanında bireysel olarak geliştirmeye karar verdim. Bu farkındalık sonucu kendimi dışarıdan ekstra
                kaynaklardan öğrendiğim yeni bilgiler ve teknolojiler ile geliştirmeye başladım. Bunun yanı sıra Siber güvenlik
                ile ilgili eğitimler de aldım.
            </p>
            <p class="card-text icerik">

                2020 yılının yazında İstanbul Ataşehir'de bulunan <b>VBT Yazılım</b> isimli yazılım şirketinde <i>
                    "Yazılım Geliştirme
                    Stajyeri"
                </i> olarak görev aldım.
                2023 yılında da Doğuş Grubu'nun yazılım şirketi olan ve kurumsal bir şirket olan <b>Doğuş Teknoloji</b> şirketinde <i>
                    ".NET Yazılım Geliştirme
                    Stajyeri"
                </i> olarak kabul aldım.

            </p>



            <ul class="icerik">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>.NET MVC</li>
                <li>MSSQL</li>
                <li>Git</li>
                <li>Github</li>
            </ul>
            <p class="card-text icerik">
                teknolojilerine hakimim. Şuan aktif olarak .NET MVC framework üzerine kendimi geliştiriyor ve full-stack web projeleri çıkarıyorum.
            </p>


        </div>
    </div>

</body>
</html>


